.championIcon{
    width: 300px;
    height: auto;
    margin-left: 40px;
    margin-top: 40px;
    padding: 0px;
}

.championName{
    margin-left: 40px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.champion{
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
}