.championIcon{
    width: 300px;
    height: auto;
    margin-left: 40px;
    margin-top: 40px;
    padding: 0px;
    cursor: pointer;
}

.championName{
    margin-left: 40px;
    padding: 0px;
    font-size: 25px;
    font-weight: bolder;
    text-shadow:-1px -1px 2px black,
                1px -1px 2px black,
                -1px 1px 2px black,
                1px 1px 2px black,
                2px 2px 2px black;
    cursor: pointer;
}

.champion{
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.topnav {
    background-color: #333;
    overflow: hidden;    
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}