table {
    border-collapse: collapse;
    background-color: #dddddd;
}

.item {
    border: 1px solid black;
    aspect-ratio: 1/1; /* 设置宽高比为1:1，即正方形 */
    width: 64px; /* 设置宽度 */
    height: 64px; /* 设置高度 */
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 按钮样式 */
.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* 下拉菜单显示样式 */
.show {
    display: block;
}

.item-in-dropdown {
    width: 80px;
    height: 130px;
    position: relative;
}

.item-in-dropdown img {
    width: 70px; /* Set img width to 64px */
    height: 70px; /* Set img height to 64px */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.item-in-dropdown p {
    text-align: center; /* Center the text */
    margin-top: 5px; /* Adjust top margin as needed */
}

.row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing between items */
}

.panel {
    width: 50%; /* Adjust the width based on your layout */
    box-sizing: border-box;
    padding: 10px; /* Add padding as needed */
}

#rightPanel {
    float: right;
}

#leftPanel {
    float: left;
}

.champion-panel {
    display: inline-block;
}